<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngo.ducquang.test">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".finhay.InvestDetailActivity"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name=".manHinh2.InvestWithdrawalActivity"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name=".manhinh3.InvestHistoryActivity"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name=".mh4.CheckInfoActivity"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name=".mh5.DealSuccessActivity"
            android:theme="@style/AppThemeCustom" />
        <activity
            android:name=".mh6_FinhayDeXuat.FinhayOfferActivity"
            android:theme="@style/AppThemeCustom" />
        <activity android:name=".mh7.ManHinh7Activity" />
        <activity android:name=".mh8.ManHinh8Activity"></activity>
    </application>

</manifest>